h1{
    color: rgb(99, 79, 216);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.text-center{
    text-align: center;
}
.bg-red{
    background: red;
}

.mx-auto{
    margin: auto;
}

.button{
    padding: 20px;
    margin: 0px 1px;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
}


.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.items-center{
    align-items: center;
}

.row{
    margin: 5px 0px;
}

.row input{
    padding: 6px 10px 20px;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 20px;
}